#menuItems {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	background-color: goldenrod;
	position: fixed;
	text-align: center;
	left: 0px;
	height: 100%;
	bottom: 0;
	width: 20%;
	font-size: 3vh;
}

#menuItems button {
	background-color: blue;
	color: white;
	padding: 1em 1.2em;
	border: none;
	font-size: large;
	cursor: pointer;
	text-align: center;
	margin: 0;
}
#menuItems button:hover {
	background-color: darkblue;
	color: white;
}
#jumpMenu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: goldenrod;
}
#jumpMenu li {
	padding: 0;
	margin: 0;
}
#jumpMenu a {
	display: block;
	color: blue;
	text-decoration: none;
	padding: 0.3em 0.5em;
	font-size: 1.4rem;
}
#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
	display: block;
}

#jumpMenu a:hover {
	color: white;
	background-color: darkblue;
}

#container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	color: gray;
	max-width: calc(4 * 250px + 3 * 1rem);
	margin: 2rem auto;
}

article > p:first-of-type::first-letter {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
}
a[href*="google.com"]::after {
	content: url("arrow.png");
	margin-left: 5px;
	vertical-align: middle;
}

/* Article base state with transition */
article {
	box-sizing: border-box;
	transition:
		color 2s,
		transform 2s;
}

/* Article hover: darker text and expand */
article:hover {
	color: black;
	transform: scale(1.1);
}

main {
	margin-left: 20%;
}

footer {
	background-color: black;
	color: white;
	font-size: xxx-large;
	text-align: center;
	padding: 2em;
}

header p {
	text-align: center;
	text-emphasis: bold;
	font-family: sans-serif;
	font-size: xx-large;
	padding: 1.4em;
	margin: 0px;
	background-color: red;
}
header {
	margin: -1rem;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

#thanks {
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: lightblue;
	color: black;
	padding: 3rem 5rem;
	font-weight: bold;
	font-size: 1.2em;
	z-index: 1000;
	border: 2px solid darkblue;
}
