#jumpMenu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	background-color: goldenrod;
	position: fixed;
	text-align: center;
	vertical-align: middle;
	left: 0px;
	height: 100%;
	bottom: 0;
	width: 20%;
	font-size: 3vh;
}

#container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	max-width: calc(4 * 250px + 3 * 1rem);
	margin: 2rem auto;
}

article {
	box-sizing: border-box;
}

main {
	margin-left: 20%;
}

footer {
	background-color: black;
	color: white;
	font-size: xxx-large;
	text-align: center;
	padding: 2em;
}

header p {
	text-align: center;
	text-emphasis: bold;
	font-family: sans-serif;
	font-size: xx-large;
	padding: 1.4em;
	margin: 0px;
	background-color: red;
}
header {
	margin: -1rem;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

header nav {
	text-align: center;
	font-family: sans-serif;
	font-size: xx-large;
	padding: 1.4em;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 1rem;
	max-width: 100%;
	margin: 0px;
}

header button {
	background-color: blue;
	color: white;
	padding: 1.4em 2em;
	border: none;
	font-size: x-large;
	flex: 1;
	cursor: pointer;
	text-align: center;
	margin: 0;
}

header button:hover {
	background-color: darkblue;
}

#thanks {
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: lightblue;
	color: black;
	padding: 3rem 5rem;
	font-weight: bold;
	font-size: 1.2em;
	z-index: 1000;
	border: 2px solid darkblue;
}
