#jumpMenu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	background-color: goldenrod;
	position: fixed;
	text-align: center;
	vertical-align: middle;
	left: 0px;
	height: 100%;
	bottom: 0;
	width: 20%;
	font-size: 3vh;
}

#container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 1rem;
	max-width: 100%;
}

article {
	flex: 1 1 calc(33.333% - 1rem);
	min-width: 5rem;
	box-sizing: border-box;
}

main {
	margin-left: 20%;
}

footer {
	background-color: black;
	color: white;
	font-size: xxx-large;
	text-align: center;
	padding: 2em;
}

header p {
	text-align: center;
	text-emphasis: bold;
	font-family: sans-serif;
	font-size: xx-large;
	padding: 1.4em;
	background-color: red;
}

header nav {
	text-align: center;
	font-family: sans-serif;
	font-size: xx-large;
	padding: 1.4em;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 1rem;
	max-width: 100%;
}

header button {
	background-color: blue;
	color: white;
	padding: 1.4rem;
	border: none;
	font-size: x-large;
}
